<h1>Home#show_cookies</h1>
<p>Find me in app/views/home/show_cookies.html.erb</p>

<table>
 <tr><td>User-Name:</td><td><%= @user_name %></td></tr>
 <tr><td>Kundennummer:</td><td><%= @kundennummer %></td></tr>
</table>